<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>                                                                                                                                                                                                                                                 
        <add name="ConnectionString"
            connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=teamhawkeye;USER ID=TEAMHAWKEYE"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>